a{
    text-decoration: none;
}

h1{
    margin: 0;
}

h3{
    color: #22223b;
    font-family: 'Angkor', cursive;
}

li{
    list-style: none;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
}

body{
    background-color: rgb(242, 233, 228);
}

header{
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 59, .9);
    margin-bottom: 35px;
}

.accordion{
    display: block;
    box-sizing: border-box;
    width: 50%;
    margin-left: 150px;
}

.carritoTitle{
    color: #22223b;
    margin-left: 15px;
    margin-top: 25px;
}

.banner{
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.padreCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
}

.card{
    position: relative;
    max-width: 100%;
    width: 100%;
}

.cardBody {
    padding: 20px;
    background-color: rgba(231, 214, 216, 0.9);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.cardName{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    color: #22223b;
}

.cardPrice{
    margin-top: auto;
    font-size: 20px;
    font-weight: bold;
    color: #22223b;
}

.cardImg{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardBtn{
    display: flex;
    background-color: #f2e9e4;
    padding: 8px;
    border-radius: 8px;
    color: #22223b;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
}

.cardBtn:hover{
    background-color: #fdf6f2;
}

.carrito{
    background-color: rgb(74, 78, 105, .3);
    border-radius: 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.icon{
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

.btnEliminar{
    background-color: #f2e9e4;
    padding: 8px;
    border-radius: 8px;
    color: #22223b;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    border-color: #e0c8c3;
}

.btnEliminar:hover{
    background-color: #fdf6f2;
}

footer{
    max-width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #a29fa8;
    font-weight: lighter;
    font-family: 'Slabo 27px', serif;
}
  
.icono{
    width:60px;
    padding: 10px;
}